@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 400;
}

/* BOTÕES */

.btn {
    padding: 1rem 1.5rem;
    background-color: #fe5d26;
    color: #0c1713;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    font-size: 1.4rem;
}
.btn:hover {
    background-color: transparent;
    border: solid;
    border-width: 2px;
    border-color: #fe5d26;
    color: #0c1713;
    cursor: pointer;
}
.btn-outline {
    background-color: transparent;
    border: solid;
    border-width: 2px;
    border-color: #fe5d26;
    color: #0c1713;
    width: fit-content;
    font-size: 1.6rem;
}
.btn-outline:hover {
    background-color: #fe5d26;
    color: #0c1713;
    font-weight: 600;
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: #f8f4f9;
}

.menu__texto {
    list-style: none;
    display: flex;
    column-gap: 2rem;
}
.menu__texto li:hover,
.menu__texto li:active {
    font-weight: 700;
}
.menu__texto li:hover a:hover,
.menu__texto li:hover a:active,
.menu__texto li:active a:hover,
.menu__texto li:active a:active {
    color: #fe5d26;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 10rem;
    align-items: center;
    background-color: #0c1713;
}
nav .logo {
    width: 15rem;
    margin-top: 10rem;
    justify-content: center;
}
nav .header {
    display: flex;
    font-size: 1.5rem;
    column-gap: 40rem;
    color: #f8f4f9;
    justify-content: space-around;
    align-items: center;
}
nav .carrinho {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    padding: 1rem;
}

nav .carrinho-ativo,
nav .carrinho:hover {
    background-color: #fe5d26;
    padding: 1rem;
    border-radius: 2rem;
}

nav .carrinho__img {
    align-self: center;
}

.section__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 55rem;
}
.section__hero__texto {
    line-height: 5rem;
    text-align: center;
}
.section__hero p {
    font-size: 2.5rem;
}
.section__hero h1 {
    font-size: 6rem;
}
.section__hero .hero__video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.section__titulo {
    margin-top: 10rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    border-color: #0c1713;
    width: 35rem;
    height: 25rem;
    padding: 3rem;
    line-height: 2.2rem;
    border: solid;
    border-width: 1px;
    border-color: #cfcfcf;
    box-shadow: 0px 2px 4px rgba(12, 23, 19, 0.1);
    margin-top: 5rem;
    row-gap: 1rem;
}

.produto_descrição {
    font-size: 1.4rem;
}

.produto_preço {
    font-weight: 600;
}

.section h2 {
    margin-left: 5rem;
    font-size: 3rem;
}

.div__logo {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.div__logo .footer__logo {
    height: 15rem;
    margin-top: 5rem;
    margin-bottom: -20rem;
}

footer {
    height: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0c1713;
    color: #f8f4f9;
}
footer .footer__texto {
    margin-left: 20rem;
    line-height: 3rem;
    text-align: right;
}
footer ul {
    list-style: none;
    margin-left: 5rem;
}
footer ul a {
    color: #f8f4f9;
}

/*Carrinho*/

.carrinho__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fe5d26;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 3rem;
}

.carrinho__item .info {
    flex: 1;
    text-align: center;
}

.carrinho__item h3 {
    font-size: 2rem;
}

.carrinho__item p {
    font-size: 1.4rem;
    color: #777;
}

.carrinho__item .price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fe5d26;
}

.quantidade {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.quantidade__texto {
    font-size: 2rem;
}

.btn {
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
}

.btn--remover {
    background-color: #fe5d26;
    color: #fff;
    margin-left: 2rem;
}

.btn--remover:hover {
    background-color: #fe5d26 margin-left 2rem;
}

.carrinho__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: bold;
}

.carrinho__total p {
    color: #333;
}

.carrinho__conteudo {
    padding: 3rem;
}

.menu-container {
    display: flex;
    column-gap: 2rem;
    margin-top: 8rem;
    justify-content: center;
    margin-bottom: 5rem;
}

.menu-container h2 {
    text-align: center;
}

#pedidoResumo {
    align-content: center;
    line-height: 3rem;
}

.carrinhoHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carrinhoHeader h2 {
    text-align: rigth;
    margin-left: 3rem;
    font-size: 2rem;
}

.carrinhoHeader svg {
    width: 2rem;
}

.btn-fechar,
.btn-remover {
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem 0 0.4rem;
    height: fit-content;
    color: #0c1713;
    background-color: #fe5d26;
    border: none;
}

.btn-fechar:hover,
.btn-remover:hover {
    background-color: #fe5c268e;
    cursor: pointer;
}

.btn-remover {
    padding: 0.4rem 0.7rem 0.2rem 0.7rem;
}

.carrinhoTab {
    position: fixed;
    inset: 0 0 0 auto;
    width: 350px;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(110%);
}

.itemDoPedido {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.section__reservar {
    height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3rem;
    margin-top: 4rem;
}

.section__reservar h2 {
    margin: 3rem 0;
    margin-left: 0;
    text-align: center;
}

.reservar {
    display: flex;
    justify-content: center;
    column-gap: 7rem;
    margin: 2rem 0;
}
.form-input {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-top: 2rem;
    justify-content: center;
}

.form-horario {
    display: flex;
    column-gap: 2rem;
}

.form-input input {
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    font-family: Poppins, sans-serif;
    padding: 0.5rem;
}

.form-input-horario {
    width: 14rem;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn-reservar {
    align-items: center;
}
